<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.admin.serveice.dao.MenuDao">
    <resultMap id="BaseResultMap" type="Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="pids" property="pids" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="perms" property="perms" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="sort" property="sort" jdbcType="TINYINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="INTEGER"/>
        <result column="update_by" property="updateBy" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select *
        from sys_menu
        where status != 3
        order by
            type ASC,
            sort ASC
    </select>

    <select id = "findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select *
        from sys_menu
        where id = #{menuId}
        order by type ASC,
                 sort ASC
    </select>

    <select id = "findByCondition" resultMap="BaseResultMap" parameterType="map">
        select * from sys_menu
        <where>
            <if test="status != null and status != ''">
               and status = #{status}
            </if>
            <if test="url != null and url != ''">
               and url = #{url}
            </if>
            <if test="title != null and title != ''">
                and title like concat(concat('%',#{title}),'%')
            </if>
        </where>
            order by
            type ASC,
            sort ASC
    </select>

    <select id = "findListByPidAndId" resultMap="BaseResultMap" parameterType="map">
        select *
        from sys_menu
        where pid = #{pid}
          and id != #{id}
        order by sort ASC
    </select>

    <select id="getSortMax" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select max(sort)
        from sys_menu m
        where m.pid = #{pid}
          and m.status != 3
    </select>

    <select id="findMenuByPid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select *
        from sys_menu
        where pid = #{pid}
    </select>

    <insert id="save" parameterType="Menu">
        insert into sys_menu (title, pid, pids, url, perms, icon, type, sort, remark, create_date, update_date,
                              create_by, update_by, status)
        values (#{title}, #{pid}, #{pids}, #{url}, #{perms}, #{icon}, #{type}, #{sort}, #{remark}, #{createDate},
                #{updateDate}, #{createBy}, #{updateBy}, #{status})
    </insert>

    <update id="update" parameterType="Menu">
        update  sys_menu
        <set>
            <if test="sort != null">
                sort = #{sort}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>