<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.admin.serveice.dao.UserRoleDao">
    <resultMap id="BaseResultMap" type="UserRole">

        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>

    </resultMap>


    <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select  * from  sys_user_role where  user_id = #{userId}
    </select>

    <delete id="deleteByUserId" parameterType="java.lang.Long">
      delete from sys_user_role where user_id = #{userId}
    </delete>

    <insert id="save" parameterType="UserRole">
        insert into sys_user_role(user_id,role_id) values (#{userId},#{roleId})
    </insert>

    <select id="findByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select  * from  sys_user_role where  role_id = #{roleId}
    </select>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete  from  sys_user_role where  role_id = #{roleId}
    </delete>
</mapper>